.Search
  &-form
    display: flex
    flex-direction: column-reverse
    justify-content: center
    padding: 10px 0
    width: 90%
    @media screen and (min-width: 426px)
      flex-direction: row

  &-input
    background: white
    border: 0
    flex: 1
    padding: 0 10px
    text-align: center
    line-height: 3em
    margin-bottom: 5px
    border-radius: 0

    @media screen and (min-width: 426px)
      border-radius: 4px 0 0 4px
      margin-bottom: 0px
