.Search
  &-form
    display: flex
    flex-direction: row
    justify-content: center
    padding: 10px 0
    width: 80%

  &-select
    font-size: 1.5em
    background: white
    border: 0
    border-radius: 4px 0 0 4px
    padding: 5px

  &-input
    background: white
    border: 0
    border-radius: 0 4px 4px 0
    flex: 1
    padding: 0 10px
    text-align: center
