.DataItem
  padding-bottom: 10px
  font-size: .7em
  padding: 5px


  &-title
    text-align: left
    vertical-align: top
    color: #0591da
    width: 40%
    font-size: inherit
    display: inline-block

    &:after
      content:':'


  &-text
    text-align: left
    display: inline-block;
    width: 55%;
    font-size: inherit
